#chat-room {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    border: 1px solid;
    border-radius: 30px;
    border-color: white;
}

#chat-hitory {
    overflow: scroll;
    height: 75vh;
    margin-bottom: 30px;
    overflow-x: hidden;

}

#chat-hitory::-webkit-scrollbar-track {
    margin: 25px;
}

#chat-input {
    display: flex;
    padding: 15px;
}

#chat-input textarea{
    width: 100%;
    font-size: 21px;
    font-weight: 400;
    resize: none;

    background: transparent;
    color: white;
    border: none;
    outline: none;
}

#action-buttons{
    display: flex;
    flex-direction: column;
}

#action-buttons img {
    cursor: pointer;
    user-select: none;
    width: 50px;
    height: 50px;
    padding: 5px;
    color: white;
}
