#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#navbar h1 {
  cursor: pointer;
  user-select: none;
  color: #fff;
}

#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


#logo img{
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;

    /* filter: invert(1); */
}

#logo h1 {
    font-size: 20px;
}
#links {
    display: flex;
}

#links h1 {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 400;
}

#account-button {
  --b: 1px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: white;
  margin-right: 10px;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#account-button:hover,
#account-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#account-button:active {
  background: var(--color);
  /* color: #fff; */
}