/* #home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#home h1 {
    font-size: 55px;
    font-weight: 700;
    margin: 0;
}

#home h2 {
    font-size: 34px;
    font-weight: 500;
    text-wrap: none;
    white-space: nowrap;
} */



.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0, 104, 240);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 0 0 1rem 0;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #de77c7;
  }
  
  button {
    color: #d998ee;
    background-color: rgba(12, 15, 19, 0.75);
    border: 1px solid #c06995;
    border-radius: 4px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0 auto;
    display: block;
  }
  
  .loader {
    color: #d998ee;
    border-radius: 4px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    line-height: 1;
    margin: 0 auto;
    max-width: fit-content;
    animation: opacityPulse 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
  }
  
  .attribution {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 0.75rem;
    color: #c6bff9;
    opacity: 0.75;
  }
  
  a {
    text-decoration: none;
    font-size: 0.75rem;
    color: #c6bff9;
  }
  
  a:hover {
    color: #d998ee;
  }
  
  @keyframes opacityPulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  