#bubble {
    display: flex;
    padding: 10px;
}

#box {
    width: fit-content;
    height: fit-content;
    max-width: 50%;
    /* text-align: right; */
}

#box h1 {
    margin: 0;
    padding: 10px 25px 0px 25px;
    font-weight: 700;
    font-size: 15px;
    user-select: none;
}

#box p {
    margin: 0;
    padding: 0 25px 10px 25px;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    text-wrap: wrap;
}

#play-button {
    position: relative;
    height: 20px;
    left: 50px;
    top: 10px;
    cursor: pointer;
}