#bubble {
    display: flex;
    padding: 10px;
}

#box {
    width: fit-content;
    height: fit-content;
    max-width: 50%;
}

#box h1 {
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
}